src/main/mule/mule-graphql-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:graphql="http://www.mulesoft.org/schema/mule/graphql"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/graphql http://www.mulesoft.org/schema/mule/graphql/current/mule-graphql.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<graphql:config name="Graphql_Config" doc:name="Graphql Config" doc:id="82536f98-28a5-44f1-b5c6-8067b2c6df10" configName="mulegraphql" schemaLocation="schemas/schema.graphqls" />
	<flow name="mule-graphql-demoFlow" doc:id="ebdf4df5-98b4-4460-a854-12d8f2a25782" >
		<http:listener doc:name="Listener" doc:id="6109feb8-c0af-4cab-8448-1db6c53b4699" config-ref="HTTP_Listener_config" path="/graphiql"/>
		<parse-template doc:name="Parse Template" doc:id="bae1ce22-b720-48ba-81f1-93d8ab955f33" location="index.html"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3be994a3-d42d-4a68-a755-dcf40ef1e8c4" />
	</flow>
	<flow name="graphql" doc:id="ac9d86d9-eb86-4d14-b962-a9d2525d6fb3" >
		<http:listener doc:name="Listener" doc:id="a725e08f-e7c1-4ab8-bc37-34f725f7645e" config-ref="HTTP_Listener_config" path="/graphql"/>
		<logger level="INFO" doc:name="Logger" doc:id="890c8fb7-05e0-4e8c-bb1a-3c68e9492052" message="#[payload]"/>
		<graphql:router doc:name="Router" doc:id="d9391a6b-125f-4a98-816c-33c1c0bf1ce2" config-ref="Graphql_Config" payload="#[payload]"/>
	</flow>
	<flow name="graphqlaccount" doc:id="4c5f7e83-48dd-4ba1-bdd5-2ad12876b987" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="d925fb84-416e-48fd-8f49-7fe02b9941e9" config-ref="Graphql_Config" fieldName="account"/>
		<scripting:execute doc:name="Execute" doc:id="0d131f25-5191-4044-9814-55d824388545" engine="groovy">
			<scripting:code ><![CDATA[payload = ['params' : attributes.getArguments()]]]></scripting:code>
		</scripting:execute>
		<http:request method="GET" doc:name="Request" doc:id="14129014-3482-4ba5-a0dc-45fe7a76a24d" url="http://localhost:8081/accounts/{accountId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountId" : payload.params.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c2fc00d8-13b4-4353-9e86-e322efe408e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
